<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>

    <h1>AMASAMOS</h1>

    <% if (typeof dough[Object.keys(dough)[0]] === 'object') { %>

    
        <select name="dough" id="dough" onchange="businessLogic(this)">
            <% for (let i=0; i < Object.keys(dough).length; i++) { %>
                <option value="<%=Object.keys(dough)[i]%>" selected>
                    <%= translation[Object.keys(dough)[i]]%>
                </option>
            <%}%>
        </select>
    </br>

        <% for (let i=0; i < Object.keys(dough).length; i++) { %>
            <% doughKey = Object.keys(dough)[i] %>
            <div id="<%=doughKey%>" style="display: none">
            <% doughSubKeys = Object.keys(dough[doughKey]) %>
            <% for (let j=0; j < doughSubKeys.length; j++) { %>
                <label>
                    <%= translation[doughSubKeys[j]] %>
                </label>
                <input id="<%=doughKey%>/<%=doughSubKeys[j]%>" type="number" value="0" onkeyup="updateValues(this, true)"/>
            </br>
            <%}%>
                <label>
                    <%=translation['weight'] %>
                </label>
                <input id="<%=doughKey%>/weight" type="number" value="0"  onkeyup="updateValues(this, true)"/>
            </br>
            </br>
        </div>
        <%}%>
        
    
    <% } else { %>
        <% for (let i=0; i < Object.keys(dough).length; i++) { %>
            <label>
                <%= translation[Object.keys(dough)[i]] %>
            </label>
            <input id="<%=Object.keys(dough)[i]%>" type="number" onkeyup="updateValues(this)"/>
        </br>
        <%}%>
            <label>
                <%=translation['weight'] %>
            </label>
            <input id="weight" type="number"  onkeyup="updateValues(this)"/>
        </br>
    <% } %>

    <button><a href="/" class="button"><%=translation['back'] %></a></button>




    <script>
        businessLogic(document.getElementById('dough'))

        function businessLogic(item) {
            const doughDict = JSON.parse('<%- JSON.stringify(dough) %>')
            Object.keys(doughDict).forEach(element => {
                if (element === item.value) {
                    document.getElementById(item.value).style.display = "block"
                } else {
                    document.getElementById(element).style.display = "none"
                }
            });
        }

        function updateValues(item, nestedRecipe) {
            const doughDict = JSON.parse('<%- JSON.stringify(dough) %>')
            let ingredient = item.id
            let doughSelected = ''
            if (nestedRecipe) {
                [ doughSelected, ingredient ] = item.id.split('/')
            }
            
            const itemDict = nestedRecipe ? doughDict[doughSelected] : doughDict
            let doughCalc = calculateFinalDough(itemDict, ingredient, item.value)
            Object.keys(doughCalc).forEach((key) => {
                const elementId = nestedRecipe ? `${doughSelected}/${key}` : key
                if (key !== ingredient) {
                    document.getElementById(elementId).value = doughCalc[key]
                }
            })
        }

        function calculateFinalDough(recipeDict, key, value ) {
            // Always the starting point is the final dough quantity.
            const finalDough = (key === 'weight') ? value : value / recipeDict[key];

            const finalDict = { 'weight': Number(finalDough).toFixed(2) };

            Object.keys(recipeDict).forEach(function (key) {
                finalDict[key] = (finalDough * recipeDict[key]).toFixed(2);
            });

            return finalDict;
        }

    </script>

</body>